/* You can add global styles to this file, and also import other style files */
.container{
    display: flex;
    flex-wrap: wrap;
}

.is-img{
    max-width: 250px;
    z-index: 1;
    transition:0.4s;
}

.is-img:hover{
    transform: scale(1.2);
    opacity: 0.3;
    cursor: pointer;
}

.is-img-overlay{
    position:absolute;
    border-radius: 10px;
    height: 250px;
    width: 250px;
    max-width: 250px;
    background: #FF5F6D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow: hidden;
}

.is-img-overlay:hover{
    cursor: pointer;
}
.card{
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    margin: 5px;
}

.is-flex{
    display: flex;
}
.is-align-center {
    justify-content: center;
    align-items: center;
}